/* Стили для контейнера ссылок */
.header_link {
    display: flex; /* Flexbox для горизонтального расположения */
    justify-content: center; /* Центрируем ссылки по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    gap: 20px; /* Расстояние между ссылками */
    margin-top: 20px; /* Отступ сверху */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 70vw;
}

.mobile-image {
    display: none;
}

/* Стили для ссылок */
.header_link a {
    color: black; /* Цвет текста */
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
}

.header_link a:hover {
    color: #0056b3; /* Цвет текста при наведении */
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* General Styling */
body {
    background-color: #1a1a2e;
    background-size: cover;
    background-position: center;
    color: #fff;
    line-height: 1.6;
}

h1 {
    color: #242331;
    font-size: 2.8vw;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p {
    color: #242331;
}

/* Header Section */
.header {
    background-image: url('background1.jfif'); /* Replace with your actual background image path */
    background-size: cover;
    background-position: center;
    padding-top: 3vw; /* Reduced top padding to move text higher */
    padding-left: 10vw;
    padding-right: 10vw;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items towards the top */
    align-items: flex-start;
    position: relative;
}

.header-content {
    flex: 1;
    padding: 10px;
}

.header h1 {
    margin-bottom: 5vw;
    color: #242331;
    font-size: 2.9vw;
    font-weight: bold;
    line-height: 1.2;
    width: 100%;
}

.text_header2 {
    font-size: 1.9vw;
    line-height: 1.4;
    margin-top: 2.5vw;
    width: 60%;
    margin-bottom: 5vw;
}

.cta-button {
    background-color: #736CED;
    color: #fff;
    padding: 12px 22px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 5vw;
}

.cta-button:hover {
    background-color: #242331;
}

.text_header3 {
    font-size: 1vw;
    line-height: 1.2;
    margin-top: 4.8vw;
    margin-bottom: 4.5vw;
    width: 50%;
}

.sign_voluntify {
    position: absolute;
    bottom: 0.01vw; /* Adjust this for precise positioning */
    right: 17vw; /* Adjust this for precise positioning */
    width: 28%; /* Adjust the size as needed */
    opacity: 0.9;
    z-index: 1; /* Make sure it's above the hand image */
    margin-top: 2.5vw;
    margin-bottom: 0.1vw;
}

/* About Section */
.about {
    position: relative;
    padding: 5vw 10vw; /* Отступы, адаптированные под экран */
    background-color: #1a1a2e; /* Тёмный фон для секции */
    color: #fff; /* Белый цвет текста */
    overflow: hidden;
    text-align: center;
    background-blend-mode: multiply;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    padding-top: 10vw;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 50%);
    text-underline-offset: 1.5vw;
    color: #FFF;
    margin-bottom: 8vw;
}

.text_about1 {
    font-family: Inter;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.4; /* Изменено для лучшей масштабируемости */
    text-align: center;
    color: #FFF;
    width: 48%;
    max-width: 800px;
    margin: 0 auto; /* Горизонтальное центрирование */   
    /* Flexbox для центрирования по вертикали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2vw 0; /* Меньший внутренний отступ */
    margin-bottom: 2.5vw; /* Уменьшенный внешний отступ */
    min-height: auto;
}

.text_about2 {
    font-family: Inter;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.4; /* Изменено для лучшей масштабируемости */
    text-align: center;
    color: #FFF;
    width: 48%;
    max-width: 800px;
    margin: 0 auto; /* Горизонтальное центрирование */   
    /* Flexbox для центрирования по вертикали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto; /* Высота экрана */
    box-sizing: border-box;
    padding: 0.2vw 0; /* Меньший внутренний отступ */
    margin-bottom: 10vw; /* Уменьшенный внешний отступ */

}

/* Features Section */
.features {
    padding: 40px 20px;
    background-color: #1a1a2e;
    text-align: center;
}

.feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10vw;
}

.feature-card {
    background-color: #ffdd00;
    color: #1a1a2e;
    padding: 2vw;
    border-radius: 8px;
}

.features h2 {
    margin-bottom: 8vw;
}

/*Feedback Section */
.feedback {
    position: relative;
    padding: 5vw 10vw; /* Отступы, адаптированные под экран */
    background-color: #1a1a2e; /* Тёмный фон для секции */
    color: #fff; /* Белый цвет текста */
    overflow: hidden;
    text-align: center;
    background-blend-mode: multiply;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.feedback h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: hsl(51, 100%, 50%);
    text-underline-offset: 1.5vw;
    color: #FFF;
    margin-bottom: 10vw;
}

.text_feedback {
    font-family: Inter;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.4; /* Изменено для лучшей масштабируемости */
    text-align: center;
    color: #FFF;
    width: 65%;
    max-width: 800px;
    margin: 0 auto; /* Горизонтальное центрирование */   
    /* Flexbox для центрирования по вертикали */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2vw 0; /* Меньший внутренний отступ */
    margin-bottom: 5vw; /* Уменьшенный внешний отступ */
    min-height: auto;
}

.fb_button {
    background-color: #fff;
    color: black;
    padding: 12px 22px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 10vw;
}

.fb_button:hover {
    background-color: #ffdd00;
}

/* Testimonials Section */
.testimonials {
    padding: 40px 20px;
    text-align: center;
    color: #FFF; /* Цвет текста */
}

.testimonials h2 {
    margin-bottom: 5vw;
    font-size: 2vw;
}

.testimonial-container {
    box-sizing: border-box; 
}

.testimonial1, .testimonial2 {
    float: left;
    width: 50%;
    padding: 10px;
    margin-bottom: 15vw;
    height: auto;
}

.testimonial1 img, .testimonial2 img {
    width: 100%; /* Изображения занимают всю ширину блока */
    height: auto;
    border-radius: 10px;
}

/* Адаптивность для экранов меньше 768px */
@media (max-width: 768px) {
    .testimonial-container {
        display: flex; /* Гарантируем, что flex-контейнер активен */
        flex-wrap: nowrap; /* Отключаем перенос строк */
        justify-content: space-between; /* Располагаем блоки с отступом */
        gap: 10px; /* Уменьшаем расстояние между блоками */
    }

    .testimonial1, .testimonial2 {
        flex-basis: 48%; /* Делаем блоки по 48% ширины */
        max-width: 48%; /* Ограничиваем максимальную ширину */
    }
}

/* Call-to-Action Section */
.cta {
    padding: 40px 20px;
    background-color: #1a1a2e;
    text-align: center;
}

.cta_container {
    background-color: #ffdd00;
    color: #000;
    display: flex;                 /* Включаем flex */
    align-items: center;           /* Выравнивание по вертикали */
    justify-content: center;       /* Выравнивание по горизонтали */
    padding: 10px;                 /* Внутренний отступ для создания пространства вокруг текста */                 /* Цвет текста */
    border-radius: 15px;           /* Закругляем углы контейнера */
    max-width: 1000px;              /* Ограничиваем ширину контейнера */
    margin: 0 auto;                /* Центрируем контейнер (если нужно) */
    flex-direction: column;
    margin-bottom: 10vw;
}

.cta h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    padding: 2vw;
    width: 65%;
}

.cta p {
    margin-bottom: 5vw;
    width: 85%;
}

/* Contact Form Section */
.contact-form {
    padding: 40px 20px;
    text-align: center;
    background-color: #1a1a2e;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form label {
    margin-top: 10px;
    font-size: 14px;
}

.contact-form input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin-top: 5px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffdd00;
    color: #1a1a2e;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    align-items: right;
    margin-bottom: 2vw;
}

.contact-form p {
    color:#fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .header-content, .header-image {
        max-width: 100%;
        text-align: center;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .feature-cards {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
    
    h1, h2 {
        font-size: 1.5rem;
    }

    .cta h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 1.75rem;
    }

    .header p {
        font-size: 1rem;
    }

    .feature-card {
        padding: 15px;
    }
    
    /* .testimonial {
        flex-direction: column;
        text-align: center;
    } */
}

@media (max-width: 480px) {
     .header h1 {
        font-size: 1.5rem;
    }

    .header p {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .about h2, .features h2, .testimonials h2, .cta h2 {
        font-size: 1.25rem;
    }

    .contact-form input {
        width: 90%;
    }
}

.button_know_more {
    margin-left: 345px;
    margin-top: 20px;
}

.search-vol {
    padding-top: 7vw;
}

/* Планшеты (до 768px) */
@media (max-width: 768px) {
    .header {
        padding: 5vw;
        text-align: center;
        align-items: center;
    }

    .header h1 {
        font-size: 2rem;
    }

    .text_header2 {
        font-size: 1rem;
    }

    .about h2, .features h2, .testimonials h2, .cta h2 {
        font-size: 1.5rem;
    }

    .feature-cards {
        grid-template-columns: 1fr;
    }

    .testimonial1, .testimonial2 {
        width: 100%;
    }

    .cta_container {
        padding: 15px;
    }

    .contact-form input {
        width: 100%;
    }

    .search-vol {
        padding-right: 10vw;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px; /* Уменьшаем базовый размер шрифта */
    }

    .mobile-image {
        display: block;
        width: 100%; /* Чтобы картинка растягивалась по ширине экрана */
        height: auto; /* Сохраняем пропорции */
    }

    /* Секция Header */
    @media (max-width: 480px) {
        /* Основной контейнер header */
        .header {
            padding: 5vw 2vw; /* Уменьшенные отступы */
            text-align: center; /* Центрируем текст */
            align-items: center; /* Центрируем содержимое */
            min-height: 100vh; /* Высота на весь экран */
            background-color:  #1a1a2e;
            background-image: none;
            width: 100%;
            color: #FFF;
        }
    
        /* Заголовок в header */
        .header h1 {
            margin-top: 15vw;
            color: #FFF;
            font-size: 1.8rem; /* Уменьшаем размер текста */
            margin-bottom: 2vw; /* Уменьшаем отступ снизу */
            line-height: 1.4; /* Делаем текст компактнее */
        }
    
        /* Описание */
        .text_header2 {
            color: #FFF;
            font-size: 1rem; /* Уменьшаем текст */
            line-height: 1.4; /* Лучшая читаемость */
            width: 90%; /* Текст на всю ширину экрана */
            margin: 0 auto; /* Центрируем текст */
            margin-bottom: 4vw; /* Уменьшенный отступ снизу */
        }
    
        /* Кнопка призыва к действию */
        .cta-button {
            font-size: 1rem; /* Уменьшаем шрифт */
            padding: 10px 20px; /* Компактные отступы */
            margin-bottom: 8vw; /* Отступ снизу */
        }
    
        .text_header3 {
            color: #FFF;
            font-size: 1rem; /* Уменьшаем текст */
            line-height: 1.4; /* Лучшая читаемость */
            width: 90%; /* Текст на всю ширину экрана */
            margin: 0 auto; /* Центрируем текст */
            margin-bottom: 4vw; /* Уменьшенный отступ снизу */
        }

        /* Навигационные ссылки */
        .header_link {
            color: #FFF;
            gap: 10px; /* Уменьшаем промежуток между ссылками */
            margin-top: 3vw; /* Отступ сверху */
            margin-left: 0; /* Убираем левый отступ */
        }
    
        .header_link a {
            color: #FFF;
            font-size: 14px; /* Уменьшаем размер текста */
        }
    
        /* Логотип или элементы снизу */
        .sign_voluntify {
            position: absolute; /* Перемещение поверх фона */
            bottom: 70%; /* Смещение от нижней границы изображения */
            left: 50%; /* Центрирование по горизонтали */
            transform: translateX(-50%); /* Центрирование относительно середины */
            width: 50%; /* Подстройте ширину знака */
        }
    }
    

    /* Секция About */
    .about {
        padding: 5vw 2vw; /* Уменьшаем отступы */
        text-align: center;
    }

    .about h2 {
        font-size: 1.5rem; /* Уменьшаем размер заголовка */
    }

    .text_about1, .text_about2, .text_about3 {
        font-size: 1rem; /* Уменьшаем размер текста */
        width: 90%; /* Делаем текст более компактным */
        margin: 0 auto;
        padding: 1.5vw 0;
    }

    .wiv-button {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        padding: 10px 20px; /* Уменьшаем отступы */
    }

    /* Секция Features */
    .feature-cards {
        grid-template-columns: 1fr; /* Одноколоночный вид */
    }

    .feature-card {
        padding: 10px; /* Уменьшаем отступы */
    }

    /* Секция Testimonials */
    .testimonial-container {
        display: flex; /* Используем flex для отзывов */
        flex-direction: column; /* Строим отзывы в колонку */
    }

    .testimonial1, .testimonial2 {
        width: 100%; /* Убираем разделение на две колонки */
        padding: 5px;
        margin-bottom: 5vw;
    }

    /* Секция Contact Form */
    .contact-form {
        padding: 5vw 2vw; /* Уменьшаем отступы */
    }

    .contact-form input {
        width: 100%; /* Ширина полей формы на весь экран */
    }

    .contact-form button {
        padding: 10px 20px; /* Уменьшаем размер кнопок */
        font-size: 1rem; /* Уменьшаем размер шрифта */
    }

    .cta_container {
        flex-direction: column; /* Убираем горизонтальное размещение */
        padding: 10px 15px; /* Уменьшаем отступы */
    }

    .cta h2 {
        font-size: 1.25rem; /* Уменьшаем размер шрифта */
    }

    .cta p {
        font-size: 1rem; /* Уменьшаем размер текста */
        margin-bottom: 5vw; /* Уменьшаем отступы */
    }

    /* Секция Feedback */
    .text_feedback {
        font-size: 1rem; /* Уменьшаем размер текста */
        width: 90%; /* Центрируем текст */
        margin: 0 auto;
        padding: 1.5vw 0;
    }

    .fb_button {
        font-size: 1rem; /* Уменьшаем размер шрифта */
        padding: 10px 20px; /* Уменьшаем отступы */
    }

    /* Убираем лишние отступы для кнопок и ссылок */
    .button_know_more {
        margin-left: 0;
        margin-top: 10px;
    }

    .search-vol {
        padding-top: 3vw; /* Уменьшаем отступ сверху */
    }
}

@media (max-width: 768px) {
    .header {
        height: 100vh; /* Полная высота экрана */
        padding: 0; /* Убираем лишние отступы */
    }

}

